:root {
    --github-base0: #0d1117;
    --github-base1: #161b22;
    --github-base2: #21262d;
    --github-base3: #89929b;
    --github-base4: #c6cdd5;
    --github-base5: #ecf2f8;
  
    --github-red: #fa7970;
    --github-orange: #faa356;
    --github-green: #7ce38b;
    --github-lightblue: #a2d2fb;
    --github-blue: #77bdfb;
    --github-purp: #cea5fb;
  }