:root {
    --github-base0: #0d1117;
    --github-base1: #161b22;
    --github-base2: #21262d;
    --github-base3: #89929b;
    --github-base4: #c6cdd5;
    --github-base4_2: #e4e9ee;
    --github-base5: #ecf2f8;
  
    --github-red: #fa7970;
    --github-orange: #faa356;
    --github-green: #7ce38b;
    --github-lightblue: #a2d2fb;
    --github-blue: #77bdfb;
    --github-purp: #cea5fb;

    --navbar-purp: #2b0533f2;
    --navbar-purp2: #dd1fd4f2;
    --purple3: #7076e7;
    --purple3-focus: #a2a7ff;
    --purple3-40: #7076e775;
    --purple4: #3b3f8f;
  }